---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Card from '../components/Card.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import web from '../assets/images/hero_web.svg';
import mobil from '../assets/images/hero_mobil.svg';
import tablet from '../assets/images/hero_tablet.svg';
import gavekort from '../assets/images/gavekort-tillykke.svg';
import byen from '../assets/images/byens-bedste.svg';
import kalender from '../assets/images/kalender.svg';

const film = await Astro.glob('./movies/*.md');

const sorteredefilm = film.sort((a, b) => {
    if (a.frontmatter.date < b.frontmatter.date) return -1;
    if (a.frontmatter.date > b.frontmatter.date) return 1;
    return 0;
});
const udvalgtefilm = sorteredefilm.slice(0, 3);
---
<MainLayout title="Forside">
	<article class="grid justify-center">
		<!-- indsat 3 hero billeder til hver størrelse skærm, hvor vi bruger hidden til at skjule dem der ikke skal vises i den pågældende størrelse -->
		<Image src={web} alt="" class="hidden lg:block w-fit"/>
		<Image src={tablet} alt="" class="hidden md:block lg:hidden w-fit"/>
		<Image src={mobil} alt="" class="md:hidden w-full"/>
		<div class=" text-center mb-11 md:mb-24 lg:mb-24">
			<Button variant="primary" size="default"><a href="#today">Dagens program</a></Button>
		</div>
	</article>
	<article>
		<section id="today" class="mb-16 md:mb-24 lg:mb-24">
			<!-- Overskriften med stregerne, hvor vi bruger hidden for at gemme stregerne i mobil -->
			<div class="flex flex-row text-center mx-7 md:mx-12 lg:mx-24">
				<hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
				<h1 class="font-mos text-5xl lg:text-7xl w-full px-2 md:px-4 whitespace-nowrap forward">Aktuelle film</h1> 
				<hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
			</div>
			<div class="flex flex-row justify-center mt-2">
				<h3 class="font-mos text-2xl md:text-4xl">I dag 17/5</h3>
			</div>
		</section>
		<section id="CardsMobile" class="mb-16 md:hidden">
			<!-- alt hvad der omhandler lists til film card komponent i mobile-->
			<ul>
				{udvalgtefilm.map(post => 
				<Card 
					coverimage={post.frontmatter.coverimage} 
					coverimagealt={post.frontmatter.coveralt}
					posturl={post.url}
					posttitle={post.frontmatter.title}
					kortversion={post.frontmatter.beskrivelse}
					time1={post.frontmatter.time1}
					time2={post.frontmatter.time2}
				/>
				)}
			</ul>
			<!-- slut på alt hvad der omhandler lists til film  i mobile-->
		</section>

		<section id="CardsWeb" class="hidden md:block mx-20 lg:mx-40 md:mb-24 lg:mb-24">
				<!-- alt hvad der omhandler lists til film i web -->
				<ul class="grid grid-cols-3 justify-center gap-16 w-fit">
					{udvalgtefilm.map(post => 
					<li class=""><span><a href={post.url}>
						<section class="bg-beige-500 drop-shadow-drop px-4 pt-4 lg:px-6 lg:pt-6 p-6 font-mont">
							<img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="object-cover  h-full w-full" />
							<h3 class="my-4 font-mos text-lg lg:text-2xl">{post.frontmatter.title}</h3>
							<p class="text-xs lg:text-sm">{post.frontmatter.beskrivelse} <span><a href={post.url} class="italic underline p-2">Læs mere</a></span></p>
							<div class="flex flex-col text-center text-beige-100 mt-8 text-sm lg:text-lg items-baseline self-end">
								<a href="/" class="bg-red-600 drop-shadow-drop w-full py-2 mb-4">{post.frontmatter.time1}</a>
								{post.frontmatter.time2 && <a href="/" class="bg-red-600 drop-shadow-drop w-full py-2">{post.frontmatter.time2}</a>}
							</div>
						</section>
					</a></span>
					</li>
					)}
				</ul> 
				<!-- slut på alt hvad der omhandler lists til film i web -->
		</section>
		<section class="kasse bg-darkblue-500 py-28 md:py-32 z-10 relative">
			<div class="grid lg:grid-cols-2 mx-7 md:mx-12 lg:mx-28 lg:order-1 text-beige-100">
				<Image src={byen} alt="" class="left justify-self-center lg:justify-self-end place-self-center lg:order-2 pb-6 lg:pb-0 w-3/4 md:w-1/2 lg:w-auto "/>
				<div class="font-mont">
					<p class="font-bold lg:text-2xl">Gentofte kino har for tredje år i træk vundet bedste filmoplevelse i København</p>
					<p class="text-sm lg:text-xl py-8">“Vi insisterer på at levere en ærlig filmoplevelse. Når man har sagt ja til at videreføre en 85 år gammel biograf, så kræver det, at man indgår en ægte kontrakt med sine gæster.(...)”</p>
					<p id="gavekort" class="text-sm lg:text-xl">“At blive byens bedste filmoplevelse tre år i træk, er en helt utrolig ære og ganske uhørt. (...)”</p>
				</div>
			</div>
		</section>
		<section  class="mt-20 mx-7 md:mx-12 lg:mx-24">
			<div class="flex flex-row text-center justify-center">
				<hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
				<h1 class="font-mos text-5xl lg:text-8xl px-14 forward2">Gavekort</h1> 
				<hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
			</div>
			<p class="text-center font-mont text-sm lg:text-xl mt-6 lg:mb-24 md:mt-8"> Køb et gavekort til en du holder af. <br> Du modtager gavekortet på din mail som en pdf.</p>
			<div class="grid lg:grid-cols-2 gap-8 ">
				<form class="font-mos text-xl lg:order-2 self-center">
					<div class="grid grid-cols-1 pt-8">
						<label for="modtager">Modtagerens navn</label>
						<input type="text" id="modtager" class="mt-2 bg-beige-100 shadow-inner font-mont" placeholder="Frederik">
					</div>
					<div class="grid grid-cols-1 py-8">
						<label for="dit">Dit navn</label>
						<input type="text" id="dit" class="mt-2 bg-beige-100 shadow-inner font-mont" placeholder="Pia">
					</div>
					<div class="py-8 flex justify-center md:justify-end">
						<Link variant="primary" size="default" href="/giftcard.html">Næste</Link>
					</div>
				</form>
				<Image src={gavekort} alt="" class="justify-self-center lg:justify-self-start lg:order-1 "/>
			</div>
		</section>
	</article>
</MainLayout>

<!-- her har vi brugt almindlig CSS for at lave formen på sektionen: Byens Bedste -->
<style>
	.kasse{
		clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
	
	}
	@media (max-width: 600px) {
		.kasse{
			clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
			
		}
}



</style>

<script>

import { animate, stagger, inView, scroll, timeline } from "motion";
	

const elementmedanimation1 = document.querySelector(".left");
inView(elementmedanimation1, () => {
elementmedanimation1.classList.add("slide-left");


});  

const elementmedanimation2 = document.querySelector(".forward");
inView(elementmedanimation2, () => {
elementmedanimation2.classList.add("fade-in-fwd");


});  


const elementmedanimation3 = document.querySelector(".forward2");
inView(elementmedanimation3, () => {
elementmedanimation3.classList.add("fade-in-fwd");


});  
</script>

<style>

	.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2024-5-29 12:11:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}


	.slide-left {
	-webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-29 11:46:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

    .slide-right {
	-webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
</style>