---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
const {frontmatter} = Astro.props;
import Card from '../components/Card.astro';
const film = await Astro.glob('./movies/*.md');

const sorteredefilm = film.sort((a, b) => {
    if (a.frontmatter.date < b.frontmatter.date) return -1;
    if (a.frontmatter.date > b.frontmatter.date) return 1;
    return 0;
});
---
<MainLayout title="Titel">
    <div class="flex flex-row text-center mx-16 md:mb-24 md:mx-12 mt-36 lg:mx-28 lg:mt-44">
        <hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
        <h1 class="font-mos text-5xl lg:text-7xl w-full px-2 md:px-4 text-nowrap">Film</h1> 
        <hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
    </div>
    <section id="CardsMobile" class="mb-16 md:hidden">
        <!-- alt hvad der omhandler lists til film card komponent i mobile-->
        <ul>
            {sorteredefilm.map(post => 
            <Card 
                coverimage={post.frontmatter.coverimage} 
                coverimagealt={post.frontmatter.coveralt}
                posturl={post.url}
                posttitle={post.frontmatter.title}
                kortversion={post.frontmatter.beskrivelse}
                time1={post.frontmatter.time1}
                time2={post.frontmatter.time2}
            />
            )}
        </ul>
        <!-- slut på alt hvad der omhandler lists til film  i mobile-->
    </section>    
    <section id="CardsWeb" class="hidden md:block lg:mx-10 xl:mx-24">
        <!-- alt hvad der omhandler lists til film i web -->
        <ul class="grid gap-12">
            {sorteredefilm.map(post => 
            <li class=""> <span><a href={post.url}>
                <section class="bg-beige-500 drop-shadow-drop font-mont flex flex-row lg:gap-10 items-center">
                    <img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="object-cover p-10" />
                    <div>
                        <h3 class="font-mos text-5xl mt-8 lg:mt-0">{post.frontmatter.title}</h3>
                        <p class="mt-2 text-sm w-3/4 lg:w-1/2">{post.frontmatter.beskrivelse} <span><a href={post.url} class="">Læs mere</a></span></p>
                        <section class="grid grid-cols-3 lg:grid-cols-7 gap-2 font-mos md:text-base lx:text-lg mt-8 lg:mt-16 text-center">
                            <div>
                                <h3>I dag <br class="hidden lg:block xl:hidden"> 17/5</h3>
                                <div class="my-2">
                                    <Button variant="secondary" size="small">14:15</Button>
                                </div>
                                <Button variant="secondary" size="small">17:15</Button>
                            </div>
                            <div>
                                <h3 class="mb-2">I morgen <br class="hidden lg:block xl:hidden"> 18/5</h3>
                                <Button variant="secondary" size="small">20:00</Button>
                            </div>
                            <div>
                                <h3>Onsdag <br class="hidden lg:block xl:hidden"> 19/5</h3>
                            </div>
                            <div>
                                <h3 class="mt-4 lg:mt-0">Torsdag <br class="hidden lg:block xl:hidden"> 20/5</h3>
                                <div class="my-2">
                                    <Button variant="secondary" size="small">14:00</Button>
                                </div>
                                <Button variant="secondary" size="small">20:00</Button>
                            </div>
                            <div>
                                <h3 class="mb-2 mt-4 lg:mt-0">Fredag <br class="hidden lg:block xl:hidden"> 21/5</h3>
                                <Button variant="secondary" size="small">20:00</Button>
                            </div>
                            <div>
                                <h3 class="mb-2 mt-4 lg:mt-0">Lørdag <br class="hidden lg:block xl:hidden"> 22/5</h3>
                                <Button variant="secondary" size="small">14:00</Button>
                            </div>
                        </section>
                    </div>
                </section>
            </a></span>
            </li>
            )}
        </ul> 
        <!-- slut på alt hvad der omhandler lists til film i web -->
</section>
	
</MainLayout>