---
import MainLayout from "./MainLayout.astro";
const {frontmatter} = Astro.props;
---
<MainLayout title="Titel">
    <div class="flex flex-row text-center mx-7 md:mx-12 lg:mx-28">
        <hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
        <h1 class="font-mos text-5xl lg:text-7xl w-full px-2 md:px-4 whitespace-nowrap">Om filmen</h1> 
        <hr class="hidden md:block border-2 border-darkblue-600 w-full self-center">
    </div>
    <article>

		<section class="md:hidden mx-auto grid grid-cols-1 ">
				<!-- alt hvad der omhandler lists til film i web -->
				<div class="justify-center gap-4 w-fit">
				
					
						<section class=" bg-beige-500 px-4 pt-4 lg:px-8 lg:pt-8 p-6 font-mont">
							<img src={frontmatter.coverimage} alt={frontmatter.coveralt} class="object-cover  h-full w-full" />
							<h3 class="my-4 font-mos text-lg lg:text-2xl">{frontmatter.title}</h3>
							<p class="text-xs lg:text-sm"><slot /></p>
                            <div class="faktaboks">
                                <ul>
                                    <li>Skuespillere: {frontmatter.skuespillere}</li>
                                </ul>
                            </div>
						
						</section>
				
					
				 </div>
				<!-- slut på alt hvad der omhandler lists til film i web -->
		</section>
    </article>
</MainLayout>